.container {
    width: 80%;
    margin: 0px 275px;
    padding: 20px;
    /* background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  .grid-container2{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  
  .box {
    width: 450px;
    height: 140px;
    background-color: #ffffff;
    margin: 8px;
    color: #000000;
    border-radius: 5px;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .inside-box{
    margin-top: 10px;
    margin-left: 10px;
  }
  .total{
    color: #333333;
    font-size: 50px;
    margin-right: 205px;
    margin-left: 20px;
  }
  .ctotal{
    color: #333333;
    margin-top: 45px;
    margin-left: 120px;
  }
  .details{
    color: #2e2e2e;
    margin-left: 20px;
  }