body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
width: 60%;
margin: 0 auto;
padding: 20px;
background-color: #ffffff;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.new {
margin-top: 0px;
margin-left: 15%;
padding: 8px;

}
.grid-container3{
display:grid;
grid-template-columns: repeat(2, 1fr); 
gap: 10px;
width: 100%;
border: 2;
}
.label {
font-weight: bold;
margin-left: 30px;
color: rgb(39, 39, 39);
}
.head{
font-weight: bold;
font-size: 25px;
color: rgb(39, 39, 39);
text-decoration: underline;
}

input[type="text"],
input[type="tel"],
select {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 30px;
  margin-bottom: 12px;
}


input[type="tel"]::placeholder {
color: #999;
}
button[type="submit"] {
background-color: #007bff;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

button[type="submit"]:hover {
background-color: #0056b3;
color: #fff;
padding: 12px 22px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}
select::-ms-expand {
display: none;
}

input[type="number"] {
width: 20%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
margin-bottom: 10px;
margin-left: 30px;
}

/* Style the placeholder text */
input[type="number"]::placeholder {
color: #999;
}
.button{
text-align: right;
margin-right: 50px;
}

.from_branch_id{
margin-left: 46px;
}
.box{
color: #111111;
font-weight: 600;
border: 1px solid #f3f3f3;
box-shadow: 5px 5px 10px rgba(202, 202, 202, 0.5);
margin-top: 15px;
padding-top: 15px;
padding-left: 20px;
padding-bottom: 13px;
border-left: 5px solid #117a8b;
border-radius: 5px;
margin-bottom: 15px;
}

.box1{
color: #111111;
font-weight: 600;
border: 1px solid #f3f3f3;
box-shadow: 5px 5px 10px rgba(202, 202, 202, 0.5);
/* padding-top: 5px; */
padding-left: 20px;
padding-bottom: 13px;
border-left: 5px solid #117a8b;
border-radius: 5px;
/* margin-top: 15px; */
/* margin-bottom: 15px; */
}

.info{
color: #3d3d3d;
font-weight: 200;
margin-top: -5px;
margin-bottom: 5px;
}